html, body
    margin: 0
    padding: 0

html
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif

html, body, #__layout, #__nuxt
    height: 100%

h1
    margin: 20px 0 20px 0
    padding: 0

h1, h2, h3, h4, h5, h6
    font-family: 'Roboto Condensed', sans-serif

.popover
    background-color: #17a2b8
    color: #ffffff

    .popover-header
        background-color: #1998b0
        border-bottom-color: #16788d
    .popover-body
        color: #ffffff

.bs-popover-right > .arrow::after, .bs-popover-auto[x-placement^="right"] > .arrow::after
    border-right-color: #17a2b8

.bs-popover-left > .arrow::after, .bs-popover-auto[x-placement^="left"] > .arrow::after
    border-left-color: #17a2b8

#content
    margin-top: 30px
    padding-bottom: 30px

hr
    background: #17a2b8
    margin-bottom: 40px

.el-step__title.is-process, .el-step__description.is-process
    color: #fff

.el-steps--horizontal
    margin-bottom: 40px

.results
    .nav-tabs
        border-bottom: 1px solid #47494e
    .nav-tabs .nav-link.active
        background-color: #47494e
        color: #fff
        border-color: #47494e
    .nav-tabs .nav-link:hover, .nav-tabs .nav-link:active
        border-color: #47494e
    .tab-pane
        margin-top: 20px

.modal-body
    text-align: center

.modal-footer
    display: none
