# dependencies
node_modules

# logs
npm-debug.log
logs/*.log

# Nuxt build
.nuxt

# Nuxt generate
client/dist
server/dist

# locks
package-lock.json
yarn.lock

# editors config
/.vscode
/.idea

# config file
config/local-development.json
config/local-production.json

# error files
yarn-error.log

# json data
server/src/utils/data/ratings_data.json
server/src/utils/data/movies_data.json
